@page
@model Examen_Final_Suciu_.Pages.Servicii.DeleteModel

@{
    ViewData["Title"] = "Sterge";
}


<h3 style="font-family: 'Goudy Old Style'; color: blueviolet; font-size: x-large" >Esti sigur ca vrei sa stergi acest serviciu din lista?</h3>
<div style="font-family: 'Goudy Old Style'; color: blueviolet; font-size: x-large" >
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Serviciu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Serviciu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Durata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Durata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Hairstylist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Hairstylist)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Salon.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista serviciilor</a>
    </form>
</div>
